.navbarClass {
    background-color: #152720;
  }
  
  #contain {
    display: flex;
    justify-content: space-between;
  }
  
  .navbarClass a {
    color: #fff;
    margin-right: 2rem;
    text-decoration: none;
  }
  
  .navbarClass a:hover {
    color: #c3ece0;
  }